<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" language="javascript">          
    </script>
  </head>
  <body>

  <div id = "create-form">
  <%= form_tag '/widgets' do %>
    <div id = "form-fields">
      <div class="field">
        <%=label_tag 'type' %>
        <% @widget_types = ['coupon'.to_s, 'survey'.to_s] %>
        <%= select :type, :value, @widget_types %>
  
      </div>
    </div>
    <div class="actions">
      <%= submit_tag 'Create Widget' %>
    </div>
    
  <% end %>

  </div>
  <body>
</html>

