<div> We are on widget number <%= @widget.id %> which is of type <%= @widget.widget_type %> </div>

<% @show_type = "items/" + @widget.widget_type %>
<%= render @show_type %>

<%= render @items %>

<div> <a href = "/"> Click here to go back home.</a> </div>