<div> Showing all chats now... </div>

<% @chats = Chat.find(:all, :conditions => {:merchant_id => current_merchant.id}) %>

<% @chats.reverse.each do |chat| %>
	<div> <%= link_to "Chat #{chat.id}: from user #{chat.user_id}", chat_path(chat) %> </div>
<% end %>