<div> Showing all chats now... </div>

<% @chats = Chat.find(:all, :conditions => {:user_id => current_user.id}) %>

<% @chats.each do |chat| %>
	<div> <strong> <%= "#{chat.from.capitalize}: " %> </strong> <%= "#{chat.content}"%> </div>
<% end %>