<div> Showing all chats now... </div>

<% @chats = Chat.find(:all, :conditions => {:user_id => current_user.id}) %>

<% @chats.reverse.each do |chat| %>
	<div> <%= link_to "The chat  has number #{chat.id} and is  #{chat.inspect}", chat_path(chat) %> </div>
<% end %>