// Select the data 
// Update the data attributes of the things to be changed
// Change the name of the links to New Conversations
// Loop through the change count

<% @update_list.each do |user_id, count| %>	
	var update = $(".conversation[data-id='" + "<%= user_id %>" + "']");
	$(update).attr("data-count", <%= count %>);
	$(update).find("li").find("a").find("span").show();
<% end %>

// update the active chats
<% if @active_change %>
	$("#chats_container").html("<div style = 'height:100px; overflow:auto;'>" + "<%= escape_javascript(render(@chats, :partial => 'show.html.erb'))%>" + "</div>" + "<%= escape_javascript(render 'businesschat')%>");
	var chatbox = $("#chats_container").children()[0];
	$(chatbox).scrollTop($(chatbox)[0].scrollHeight);
<% end %>

//find_all(|item| item.id == current_user_id)

// change the html
//var x = $(".conversation[data-id='4']").find("a").html("anteater");

// find the element with id 4
//var x = $(".conversation[data-id='4']");