<script>
	$(document).ready(function() {
		$("#chats").scrollTop($("#chats")[0].scrollHeight);
	});
</script>

<div style = "height:500px; overflow:auto;">
	<% @chats.each do |chat| %>
		<div> <strong> <%= "#{chat.from.capitalize}: " %> </strong> <%= "#{chat.content}"%> </div>		
	<% end %>
</div>

<%= render 'chats/userchat' %> 
