<head>
	<script>
		$('.carousel').carousel()
	</script>
</head>
<div class = "homepage" >
	<div class = "layer">
	</div>
</div>
	<body>
	<div id = "homediv" style = "min-width: 1500px">  
		<h1 style = "text-shadow: 1px 7px 7px #000000;color: #EEE;font-size: 500%;">Welcome to ADABA.</h1>
		
		<div style = "height:100px;margin-top:-50px;margin-left:auto;margin-right:auto;">
			<%= image_tag("phone.png", :height => '350', :width => '350', :class => "over") %>
			<%= image_tag("monitor.png", :height => '500', :width => '500', :class => "under") %>
		</div>
	</div>
	

	<div class="row" style = "width:1100px;margin:auto;padding-top:20px;"> 
	  <div class="well span4 ">
	    <h3> Push Realtime Custom Content </h3>
	    <p> From real-time coupons to simple surveys, communicate easily with shoppers.</p>
	  </div>
	  <div class="well span4">
	    <h3> Customers</h3>
	    <p>Use our dope ass real-time chat to get mad digits.</p>
	  </div>
	  <div class="well span4">
	    <h3> Fuckin' Analytics, Yo</h3>
	    <p>We all know data's important. Our data will blow your mind bro.</p>
	  </div>
	  
	</div>
</body>