<head>
		<title>Unicorn Admin</title>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-responsive.min.css">
		<link rel="stylesheet" href="css/fullcalendar.css">	
		<link rel="stylesheet" href="css/unicorn.main.css">
		<link rel="stylesheet" href="css/unicorn.grey.css" class="skin-color">
</head>

<body>

	<div id="sidebar">
		<a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
		<ul style="display: block;">
			<li class="active"><a href="index.html"><i class="icon icon-home"></i> <span>Dashboard</span></a></li>
			<li class="submenu">
				<a href="#"><i class="icon icon-th-list"></i> <span>Form elements</span> <span class="label">3</span></a>
				<ul>
					<li><a href="form-common.html">Common elements</a></li>
					<li><a href="form-validation.html">Validation</a></li>
					<li><a href="form-wizard.html">Wizard</a></li>
				</ul>
			</li>
			<li><a href="buttons.html"><i class="icon icon-tint"></i> <span>Buttons &amp; icons</span></a></li>
			<li><a href="interface.html"><i class="icon icon-pencil"></i> <span>Interface elements</span></a></li>
			<li><a href="tables.html"><i class="icon icon-th"></i> <span>Tables</span></a></li>
			<li><a href="grid.html"><i class="icon icon-th-list"></i> <span>Grid Layout</span></a></li>
			<li class="submenu">
				<a href="#"><i class="icon icon-file"></i> <span>Sample pages</span> <span class="label">4</span></a>
				<ul>
					<li><a href="invoice.html">Invoice</a></li>
					<li><a href="chat.html">Support chat</a></li>
					<li><a href="calendar.html">Calendar</a></li>
					<li><a href="gallery.html">Gallery</a></li>
				</ul>
			</li>
			<li>
				<a href="charts.html"><i class="icon icon-signal"></i> <span>Charts &amp; graphs</span></a>
			</li>
			<li>
				<a href="widgets.html"><i class="icon icon-inbox"></i> <span>Widgets</span></a>
			</li>
		</ul>
	
	</div>


	<div id = "content">
		<div id = "content-header"><h1>Welcome, <%= current_merchant.name %>  </h1> </div>

		<h2> Manage your widgets </h2>
		<h3>Your coupons </h3>
			<div><%= render 'widgets/showcoupons' %></div>
		<h3>Your surveys </h3>
			<div><%= render 'widgets/showsurveys' %></div>

	</div>
	<h2> Chat will go here </h2>
	<div class = "row-fluid">
		<div class="hero-unit span4" style = "height:300px; overflow:auto;">
			<%= render 'chats/showallforbusiness' %>
		</div>
  		<div id = "chats_container" class="hero-unit span8" style = "height:300px; padding: 0 0 0 0;">
 
   		</div>
	</div>
</body>
