<% if merchant_signed_in? %>
  <style> body {padding-top:0px;}</style> 
     
  <div id="user-nav" class="navbar navbar-inverse">
      
      <ul class="nav btn-group">           
          <li class="btn btn-inverse"><a title="" href="asdfs"><i class="icon icon-bold"></i> <span class="text">Settings</span></a></li>
          <li class="btn btn-inverse"><a title="" href="merchants/sign_out"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
      </ul>
  </div>
<% elsif mobile_device? %>
  <div data-role="page"> 
    <div data-role="header" class="buttons" data-add-back-btn="true" style = "margin-bottom:-110px;margin-top:-10px;"> <a data-icon="arrow-l" data-iconpos="notext" rel="external" href="/">Back</a> <a href="/" data-icon="home" data-iconpos="notext" rel="external" class="ui-btn-right">Home</a> <h1 style = "font-size:250%;margin-top:0px;">ADABA</h1> </div>
    <!--/header --> 
<% else %>
  <header id="user-nav" class="navbar navbar-fixed-top navbar-inverse" style = "margin-top:-10px;margin-right:-30px;">
    <div class="navbar-inner">
      <div class="container">
        <nav>
          <%= link_to "ADABA", root_path, :class => 'brand' %>
          <ul class="nav pull-right">         
            <% if merchant_signed_in? %>
              <ul class="nav btn-group">           
                <li class="btn btn-inverse"><a title="" href="asdfs"><i class="icon icon-bold"></i> <span class="text">Settings</span></a></li>
                <li class="btn btn-inverse"><a title="" href="merchants/sign_out"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
              </ul>
            <% else %>
              <li>
              <%= link_to('Sign up', new_merchant_registration_path)  %>
              </li>
              <li>
              <%= link_to('Login', new_merchant_session_path)  %>
              </li>
            <% end %>          
              
          </ul>
        </nav>
      </div>
    </div>
  </header>

<% end %>



